.swiper {
    overflow-x: clip !important; /* Возможно когда буду менять на модули, и будет swiper.module.css изменить important на :global, т.к important в идеале не рекомендуется использовать*/
    overflow: unset;
}

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: auto;
    height: 50%;
    padding-right: 20px;
    padding-left: 20px;
  
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide {
    background: none;
  }

.swiper-pagination, 
.swiper-pagination-bullets, 
.swiper-pagination-horizontal {
  margin-bottom:-119px;
}

.swiper-pagination-bullet {
  background-color: #A2A7B4;
}
.swiper-pagination-bullet-active {
 background-color:red;
}